body {
    font-family: Arial;
    text-align: center;
    background-color: lightblue;
}

input {
    padding: 8px;
}

button {
    padding: 8px;
    background-color: blue;
    color: white;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}